@{
    ViewData["Title"] = "Clientes";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<div class="text-center">
    <h1 class="display-4">Clientes</h1>
</div>




<table class="table">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Direccion</th>
            <th scope="col">Email</th>
            <th scope="col">Telefono</th>
            <th scope="col">DNI</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>


    <tbody id="body-tabla">

    </tbody>
</table>


@section Scripts {

    <script src='~/js/cliente.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   

}
