@{
    ViewData["Title"] = "Ordenes de trabajo";
}



<div>
    <h3 class="h3">ORDENES DE TRABAJO</h3>
</div>

<div class="container div-secciones">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">settings</i>Ordenes de trabajo</div>
            <div class="collapsible-body"> 

            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">engineering</i>Nueva orden de trabajo</div>
            <div class="collapsible-body"></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">leaderboard</i>Gráficos</div>
            <div class="collapsible-body"></div>
        </li>
    </ul>
</div>