@{
    ViewData["Title"] = "Stock";
}



<div>
    <h3 class="h3">STOCK</h3>
</div>

<div class="container div-secciones">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">category</i>Consulta de stock</div>
            <div class="collapsible-body"> 

            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">inventory_2</i>Modificar stock</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">leaderboard</i>Gráficos</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
</div>