@{
    ViewData["Title"] = "Stock";
}



<div>
    <h3 class="h3">STOCK</h3>
</div>

<div class="container div-secciones">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">category</i>Consulta de stock</div>
            <div class="collapsible-body">
                <div class="row ">
                    <div class="input-field outlined col s6 offset-s6 ">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label class="active" for="autocomplete-input">Buscar producto</label>
                    </div>
                </div>

                <table>
                    <thead>
                        <tr>
                            <th>Nº Producto</th>
                            <th>Producto</th>
                            <th>Descripcion</th>
                            <th>Precio</th>
                            <th>Stock</th>
                        </tr>
                    </thead>

                    <tbody id="body-tablaProductos">
                        
                    </tbody>
                </table>
                
            </div>
            
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">inventory_2</i>Nuevo Producto</div>
            <div class="collapsible-body">
                <form id="limpiarFormulario" class="col s12">
                    <div class="row">
                
                        <input type="hidden" id="productoID" value="0"/>
                        <div class="input-field col s6">
                            
                            <input id="nombreProducto" type="text" class="validate" oninput="convertirMayusculas(this)">
                            <label for="nombreProducto">Nombre</label>
                        </div>

                        <div class="input-field col s6">
                            <input id="descripcionProducto" type="text" class="validate" oninput="convertirMayusculas(this)">
                            <label for="descripcionProducto">Descripcion</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="precioProducto" type="number" class="validate">
                            <label for="precioProducto">Precio</label>
                        </div>

                        <div class="input-field col s6">
                            <input id="stockMinimo" type="number" class="validate">
                            <label for="stockMinimo">Stock Minimo</label>
                        </div>
                    </div>
                </form>

                <div class="right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action"
                        onclick="NuevoProducto()">Guardar
                        <i class="material-icons left">save</i>
                    </button>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">leaderboard</i>Gráficos</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
</div>


 <!-- Modal Agregar stock -->
  <div id="agregarStock" class="modal">
    <div class="modal-content">
      <h4>Movimiento</h4>
         <form id="limpiarFormulario" class="col s12">
                    <div class="row">
                        
                        <input type="hidden" id="productoID" value="0"/>
                        <input type="hidden" id="tipoMovimiento" value="true"/> <!--si esta en true es entrada-->
                        <div class="input-field col s6">
                            
                            
                            <p id="producto"></p>
                        </div>

                        <div class="input-field col s6">
                            <input id="cantidad" type="text" class="validate">
                            <label for="cantidad">Cantidad</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <p id="parrafoStockActual">Stock actual: </p>
                            
                        </div>

                        <div class="input-field col s6">
                            <input id="stockMinimoModificar" type="number" class="validate" min="0">
                            <label for="stockMinimoModificar">Stock Minimo</label>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="fechaMovimiento" type="date" class="validate">
                            <label for="fechaMovimiento">Fecha Movimiento</label>
                            
                        </div>

                        <div class="input-field col s6">
                            <input id="observaciones" type="text" >
                            <label for="observaciones">Observaciones</label>
                            
                        </div>
                    </div>
                </form>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light" type="submit" name="action" onclick="MovimientoStock()">Guardar
                        <i class="material-icons left">save</i>
      </button>
    </div>
  </div>         

@section Scripts {
    
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/productos.js"></script>
}