@{
    ViewData["Title"] = "Panel Administrador";
}

<div class="text-center">
    <h1 class="display-4">Panel Administrador</h1>
</div>


<div class="mb-2">
    <button type="button" onclick="ListadoProyectos()" class="btn btn-primary">
        Cargar Cliente
    </button>

    <button type="button" id="cargarEmpleado" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#ModalClientes">
        Cargar Empleado
    </button>

    <button type="button" id="ordenDeTrabjo" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#ModalClientes">
        Ordenes de trabajo
    </button>

    <button type="button" id="stock" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#ModalClientes">
        Stock
    </button>

    <button type="button" id="ordenDeTrabjo" class="btn btn-primary" data-bs-toggle="modal"
        data-bs-target="#ModalClientes">
        Ordenes de trabajo
    </button>

    
    
    

</div>