@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h3 class="h3">ADMINISTRADOR</h3>
</div>

<div class="container">
    <div class="row">
        <div class="col s6 ">
            <div class="card  teal darken-4">
                <div class="card-content white-text">
                    <span class="card-title">ORDENES DE TRABAJO</span>
                    
                </div>
                <div class="card-action">
                    <a href="~/Ordenes/Index">Ver Ordenes</a>

                </div>
            </div>
        </div>

        <div class="col s6 ">
            <div class="card  teal darken-4">
                <div class="card-content white-text">
                    <span class="card-title">STOCK</span>

                </div>
                <div class="card-action">
                    <a href="~/Stock/Index">Ver Stock</a>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s6 ">
            <div class="card   teal darken-4">
                <div class="card-content white-text">
                    <span class="card-title">ADMINISTRAR EMPLEADOS</span>
                    
                </div>
                <div class="card-action">
                    <a href="#">Empleados</a>

                </div>
            </div>
        </div>

        <div class="col s6 ">
            <div class="card  teal darken-4">
                <div class="card-content white-text">
                    <span class="card-title">ADMINISTRAR CLIENTES</span>

                </div>
                <div class="card-action">
                    <a href="~/Clientes/Index">Clientes</a>

                </div>
            </div>
        </div>
    </div>


</div>
