@{
    ViewData["Title"] = "Localidades";
}


<div>
    <h3 class="h3">Localidades</h3>
</div>
<!-- Modal Trigger -->

<div class="container div-secciones">
    <button data-target="modal1" class="btn modal-trigger ">Nueva Localidad</button>



    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Agregar Localidad</h4>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="col s6">
                            <input id="localidadId" type="hiden" value="0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <input id="nombreLocalidad" type="text" class="validate" required>
                            <label for="nombreLocalidad">Nombre Localidad</label>
                        </div>
                        <div class="input-field col s6">
                            <input id="cpLocalidad" type="text" class="validate" required>
                            <label for="cpLocalidad">CP</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            
                            @Html.DropDownList("ProvinciaID", null, htmlAttributes: new { @class = "dropdown-content" })
                            <label for="ProvinciaID">Provincia</label>
                            

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn waves-effect btn-small waves-light modal-close" type="button" onclick="CargarLocalidad()">Guardar
                <i class="material-icons left">save</i>
            </button>

            <button class="btn waves-effect btn-small waves-light modal-close" type="button" onclick="LimpiarModal()">Cancelar
                <i class="material-icons left">cancel</i>
            </button>
        </div>
    </div>

    <div class="">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cp</th>
                    <th>Provincia</th>
                </tr>
            </thead>

            <tbody id="body-tLocalidad">


            </tbody>
        </table>
    </div>



</div>

@section Scripts {

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/localidad.js"></script>
}