@{
    ViewData["Title"] = "Pesupuestos";
}



<div>
    <h3 class="h3">PRESUPUESTOS</h3>
</div>

<div class="container div-secciones">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">price_check</i>Presupuestos</div>
            <div class="collapsible-body"> 
                <div class="row ">
                    <div class="input-field outlined col s6 offset-s6 ">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label class="active" for="autocomplete-input">Buscar Presupuesto</label>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Numero de Presupuesto</th>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>

                    <tbody class="body-tabla">

                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">request_quote</i>Nuevo Presupuesto</div>
            <div class="collapsible-body">
                
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">leaderboard</i>Gráficos</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    </ul>
</div>