@{
    ViewData["Title"] = "Pesupuestos";
}



<div>
    <h3 class="h3">PRESUPUESTOS</h3>
</div>

<div class="container div-secciones">
    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">price_check</i>Presupuestos</div>
            <div class="collapsible-body">
                <div class="row ">
                    <div class="input-field outlined col s6 offset-s6 ">
                        <i class="material-icons prefix">search</i>
                        <input type="text" id="autocomplete-input" class="autocomplete">
                        <label class="active" for="autocomplete-input">Buscar Presupuesto</label>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Numero de Presupuesto</th>
                            <th>Nombre</th>
                            <th>Fecha</th>
                            <th>Estado</th>
                        </tr>
                    </thead>

                    <tbody class="body-tabla">

                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">request_quote</i>Nuevo Presupuesto</div>
            <div class="collapsible-body">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s6">
                            <input id="first_name" type="text" class="validate">
                            <label for="first_name">Nombre Cliente</label>
                        </div>

                    </div>

                    <div class="row">
                        
                            <div class="">
                                <div class="input-field col s6">
                                    <textarea id="textarea2" class="materialize-textarea" data-length="120"></textarea>
                                    <label for="textarea1">Descripcion Equipo</label>
                                </div>
                            </div>
                        
                    </div>
                    <label>Fecha presupuesto</label>
                    <input type="text" class="datepicker">
                </form>
                <div class="right-align">
                    <button class="btn waves-effect waves-light" type="submit" name="action"
                        onclick="GuardarPresupuesto()">Guardar
                        <i class="material-icons left">save</i></button>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header"><i class="material-icons">leaderboard</i>Gráficos</div>
            <div class="collapsible-body"></div>
        </li>
    </ul>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function() {
     var elems = document.querySelectorAll('.datepicker');
     var instances = M.Datepicker.init(elems);
});
</script>
@section Scripts {
        <script src='~/js/graficos.js'></script>
        <script src='~/js/materialize.js'></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        
    }

