main,header {
    padding-left: 300px;
}

@media only screen and (max-width : 992px) {
    main, header {
        padding-left: 0;
    }
}

.h4-navbar {
    color: black;
}

.navbar {
    height: 100px;
}

.h4-navbar {
    padding-left: 10px;
}

